body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column; /* Расположение дочерних элементов в столбец */
    justify-content: center; /* Выравнивание по центру по вертикали */
    align-items: center; /* Выравнивание по центру по горизонтали */
}

/* Grid для контейнера */
.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Три столбца равной ширины */
    gap: 20px; /* Промежутки между элементами */
}

/* Flexbox для расположения элементов внутри контейнера */
.child-container {
    display: flex;
    justify-content: space-between; /* Равномерное распределение элементов по ширине контейнера */
    align-items: center; /* Выравнивание по центру по вертикали */
}

.main-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Комната с мольбертом, большая.png');
    background-size: contain; /* измените на cover для полного покрытия экрана */
    background-repeat: no-repeat;
    background-position: center;
}

.overlay-link {
    position: absolute;
    bottom: 20px; /* Позиционируйте как вам нужно */
    left: 50%;
    transform: translateX(calc(-50% - 7cm)) translateY(-3.5cm); /* Поднимите изображение на 3.5 см выше и сдвиньте влево на 7 см */
    z-index: 1; /* Убедитесь, что ссылка выше главного изображения */
}

.bottom-image, .bottom-image-hover {
    width: 600px; /* Увеличено в 1,5 раза, если ширина была 400px */
    height: auto; /* Сохранить пропорции */
    cursor: pointer;
    position: absolute;
    transition: opacity 0.3s;
}

.bottom-image-hover {
    opacity: 0;
}

.overlay-link:hover .bottom-image {
    opacity: 0;
}

.overlay-link:hover .bottom-image-hover {
    opacity: 1;
}

.statement-link {
    position: absolute;
    bottom: 0%; /* Позиционируйте как вам нужно */
    right: 2%; /* Подвиньте вправо */
    z-index: 2; /* Убедитесь, что ссылка выше главного изображения */
    transition: transform 0.3s; /* Плавный переход */
}

.statement-link:hover {
    transform: translateY(-0.3cm); /* Поднятие на 0.3 см при наведении */
}

.statement-image {
    width: 10%; /* Задаем конкретный размер */
    height: auto; /* Сохранить пропорции */
}
